:root {
  --primary-bg-color: #1A1A1A;
  --secondary-bg-color: #121212;
  --tertiary-bg-color: #3b3b3b;
  --primary-ft-color: #ffffff;
  --primary-ft-color-static: #ffffff;
  --secondary-ft-color: #5a5a5a;
  --quaternary-ft-color: #F23005;
  --quintenary-ft-color: #F24E29;
  --notification-color: #ff184a;
  --footer-ft-color: #303030;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(var(--primary-bg-color), var(--secondary-bg-color));
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}

/* NAVBAR */

.nav-bar {
  margin-bottom: 2rem;
  padding: 15px 0px;
  display: flex;
  gap: 10px;
  align-content: center;
  flex-wrap: wrap;
  position: relative;
}

#logo {
  filter: invert(100%);
  width: 100px;
  padding: 10px;
  order: 1;
}

#menu {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  order: 2;
}

#menu li {
  list-style: none;
}

#menu li a,
#menu-mobile-list li a {
  text-decoration: none;
  color: var(--primary-ft-color);
  padding: 10px;
  font-weight: 700;
  border-bottom: 1px solid transparent;
  transition: 0.5s ease-in;
}

#menu li a:hover {
  border-bottom: 1px solid var(--primary-ft-color);
}

#search-bar {
  padding: 0 20px;
  border-radius: 3rem;
  background-color: var(--tertiary-bg-color);
  display: flex;
  align-items: center;
  width: 250px;
  position: relative;
  order: 3;
}

#search-bar i {
  padding: 10px;
  color: var(--primary-ft-color);
  font-size: 1rem;
  position: absolute;
  left: 5px;
}

#search-bar input {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  width: 100%;
  color: var(--primary-ft-color);
}

#search-bar input::placeholder {
  color: var(--primary-ft-color);
}

#bag {
  padding: 10px 15px;
  margin-left: 1rem;
  color: var(--primary-ft-color);
  font-size: 1.5rem;
  border-radius: 50%;
  transition: 0.5s ease;
  position: relative;
  order: 4;
}

#open-menu-mobile-btn {
  order: 6;
  display: none;
  padding: 10px 5px;
}

#open-menu-mobile-btn i {
  color: var(--primary-ft-color);
  font-size: 1.5rem;
}

#bag::after {
  color: var(--primary-ft-color-static);
  content: "1";
  background-color: var(--notification-color);
  border-radius: 50%;
  padding: 5px;
  font-size: 0.8rem;
  width: 10px;
  height: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
}

#bag:hover,
#btn-theme:hover {
  color: var(--primary-bg-color);
  background-color: var(--primary-ft-color);
}

#menu-mobile {
  position: fixed;
  width: 300px;
  height: 100vh;
  background-color: var(--secondary-bg-color);
  z-index: 3;
  left: 100%;
  top: 0px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s ease;
}

#menu-mobile.active {
  left: calc(100% - 300px);
}

#menu-mobile-list {
  list-style: none;
  width: 100%;
}

#menu-mobile-list li a {
  font-size: 1.5rem;
  width: 100%;
  display: inline-block;
}

.menu-mobile-item {
  margin-bottom: 1rem;
  width: 100%;
}

#mobile-theme-select-btn {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

#menu-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#close-menu-mobile-btn {
  padding: 1rem;
}

#close-menu-mobile-btn i {
  font-size: 1.2rem;
  color: var(--primary-ft-color);
}

#menu-fade {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1;
  transition: 1s ease;
  opacity: 0;
  display: none;
}

#menu-fade.active {
  display: block;
  opacity: 1;
}


/* END NAVBAR */

/* THEME BUTTON */

.btn-theme {
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.5s ease;
  order: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: var(--primary-ft-color);
  border-radius: 50%;
}

/* END THEME BUTTON */


/* PRODUCT INFO */

#main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 3rem;
}

#product-info {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#product-name {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  color: var(--primary-ft-color);
  margin-bottom: 2rem;
}

#product-description {
  font-size: 1rem;
  color: var(--secondary-ft-color);
  margin-bottom: 2rem;
}

#product-price {
  color: var(--primary-ft-color);
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 2rem;
}

#product-price span:first-child,
#product-price span:last-child {
  font-size: 2rem;
}

#product-price span:first-child {
  margin-right: 5px;
  color: var(--quintenary-ft-color);
}

#product-price span:last-child {
  color: var(--secondary-ft-color);
}

#btn-add-to-bag {
  background-image: linear-gradient(to right, var(--quaternary-ft-color), var(--quintenary-ft-color));
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 80px;
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--primary-ft-color-static);
  cursor: pointer;
  text-shadow: 2px 2px var(--quintenary-ft-color);
  transition: 0.5s ease;
}

#btn-add-to-bag:hover {
  scale: 98%;
}


/* END PRODUCT INFO*/


/* PRODUCT VIEWER */

#product-viewer {
  position: relative;
  max-width: 45%;

}

.circle {
  border: 2px solid var(--primary-ft-color);
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: rotateX(65deg);
  top: 10%;
  left: calc(50% - 50%);
  z-index: -5;
}

#product-viewer .circle:nth-child(2) {
  border-top: 0px;
  border-bottom: 2px solid var(--primary-ft-color);
  z-index: 0;
}

#img-rotate {
  max-width: 100%;
  transition: 0.5s ease-out;
  z-index: 0;
}

#rotate-controllers {
  padding: .5rem;
  position: absolute;
  width: 100%;
  bottom: 12%;
  display: flex;
  justify-content: center;
  gap: 2px;
}

#rotate-controllers button {
  background-color: black;
  border: none;
  cursor: pointer;
  color: var(--primary-ft-color-static);
}

#rotate-controllers button i {
  font-size: 16px;
}

#rotate-controllers button:nth-child(1) {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: .5rem;
}

#rotate-controllers button:nth-child(2) {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: .5rem;
}

#rotate-controllers button:hover {
  color: var(--secondary-ft-color);
}

/* END PRODUCT VIEWER */

/* OTHER PRODUCTS */

#other-products {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
  flex-direction: column;
}

#images img {
  width: 100px;
  border-radius: 10px;
  border: 1px solid var(--tertiary-bg-color);
  flex-shrink: 0;
}

#other-products .btn {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

#other-products .btn i {
  font-size: 1.2rem;
  color: var(--primary-ft-color);
}

#images-wrapper {
  flex-wrap: nowrap;
  overflow-y: hidden;
}

#images {
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 350px;
  width: 100px;
  right: 0px;
  top: 0px;
  transition: 1s ease-in-out;
  transform: translateY(0);
}

#carousel-previous i:nth-child(1) {
  display: block;
}

#carousel-next i:nth-child(1) {
  display: block;
}

#carousel-previous i:nth-child(2) {
  display: none;
}

#carousel-next i:nth-child(2) {
  display: none;
}

/* END OTHER PRODUCTS */

/* FOOTER */

.container-footer {
  width: 90vw;
  margin: 0 auto 1rem;
  padding: 1.5rem 0px;
  max-width: 1200px;
}

#footer {
  background-color: var(--primary-ft-color);
}

#footer a {
  text-decoration: none;
  color: var(--footer-ft-color);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col {
  width: 30%;
}

#footer li {
  list-style: none;
  margin-bottom: .5rem;
}

.section-title {
  margin-bottom: 1rem;
  color: var(--footer-ft-color);
}

#social-networks {
  display: flex;
  gap: 1rem;
}

#social-networks img {
  width: 30px;
  filter: contrast(80%);
}

#footer hr {
  width: 100%;
  margin: 1rem 0px;
  background-color: var(--primary-bg-color);
}


#other-infos {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0px;
}

#other-infos p {
  color: var(--footer-ft-color);
  font-size: 0.8rem;
}

.copyright {
  width: 60%;
}

.copyright p {
  text-align: right;
}

/* END FOOTER */


@media(max-width: 768px) {

  .container {
    height: auto;
  }

  .nav-bar {
    gap: 15px;
    margin-bottom: 1rem;
  }

  #menu {
    display: none;
  }

  #btn-theme {
    display: none;
  }

  #open-menu-mobile-btn {
    display: inline-block;
    order: 3;
  }

  #logo {
    padding: 5px;
    width: 50px;
  }

  #search-bar {
    order: 4;
    width: 100%;
  }

  #bag {
    order: 2;
    font-size: 1.5rem;
    padding: 5px;
    margin-left: auto;
  }

  #bag::after {
    width: 5px;
    height: 5px;
    right: -5px;
  }

  #main-content {
    flex-direction: column;
    gap: 0;
  }

  #product-info {
    max-width: 100%;
    order: 3;
  }

  #product-viewer {
    order: 1;
    max-width: 100%;
    margin-bottom: 1.5rem;
  }

  #product-name {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  #product-description {
    margin-bottom: 1.5rem;
  }

  #product-price {
    margin-bottom: 2rem;
  }

  #btn-add-to-bag {
    width: 100%;
    height: 60px;
    border-radius: 3rem;
  }

  #rotate-controllers button i {
    font-size: 16px;
  }

  #rotate-controllers {
    bottom: 12%;
  }

  #rotate-controllers button:nth-child(1) {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding: .5rem 0.5rem .5rem 1rem;
  }

  #rotate-controllers button:nth-child(2) {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding: .5rem 1rem .5rem 0.5rem;
  }

  #other-products {
    order: 2;
    flex-direction: row;
    margin-left: 0;
    width: 100%;
    margin-bottom: 2rem;
  }

  #other-products .btn {
    height: auto;
  }

  #images-wrapper {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    overflow-y: visible;
    overflow-x: hidden;
  }

  #images {
    flex-direction: row;
    height: 100px;
    width: 100%;
    transform: translateX(0);
  }

  #carousel-previous i:nth-child(1) {
    display: none;
  }

  #carousel-next i:nth-child(1) {
    display: none;
  }

  #carousel-previous i:nth-child(2) {
    display: block;
  }

  #carousel-next i:nth-child(2) {
    display: block;
  }

  .row {
    flex-direction: column;
  }

  .col {
    width: 100%;
    margin-bottom: .5rem;
    padding: 1rem 0px;
    border-bottom: 1px solid var(--secondary-ft-color);
  }

  .container-footer {
    padding: .5rem 0px;
  }

  #footer .col:last-child {
    border-bottom: none;
  }

  #other-infos {
    flex-wrap: wrap;
    padding: .5rem;
  }

  .other-infos-item {
    margin-bottom: 1rem;
  }

  .copyright {
    width: 100%;
  }

  .copyright p {
    text-align: center;
  }

  #footer hr {
    margin: .5rem 0px;
  }

}

@media(max-width: 992px) {

  #main-content {
    gap: 10px;
  }

  #product-name {
    font-size: 2.5rem;
  }

  #rotate-controllers {
    bottom: 10%;
  }
}

@media(max-width: 1200px) {}